body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#title-text{
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
    font-weight: 700px;
    background: url(title-scrolling.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateTitle 300s linear infinite;
    -webkit-animation: animateTitle 300s linear infinite;
}

@keyframes animateTitle{
    from{
        background-position: 0 0;
    }
    to{
        background-position: -100000px 0;
    }
}

.title-box{
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    
}

.title-box h2{
font-size: 1.5rem;
font-family: 'Libre Baskerville', serif;
font-weight: 400px;
}

.instruction{
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
}

.instruction div{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    padding: 1rem;
    
}

#bg{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.btn-container a{
    text-decoration: none;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 100px;
    background: #000;
    transition: all 0.3s ease;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}


